<div class="waiting-room">
  <div class="room">
    <div class="room-content"><p>Sala 1</p></div>
  </div>
  <div class="room">
    <div class="room-content"><p>Sala 2</p></div>
  </div>
  <div class="room">
    <div class="room-content"><p>Sala 3</p></div>
  </div>
  <div class="room">
    <div class="room-content"><p>Sala 4</p></div>
  </div>
  <div class="room">
    <div class="room-content"><p>Sala 5</p></div>
  </div>
  <div class="room">
    <div class="room-content"><p>Sala 6</p></div>
  </div>
</div>
