<main>

  <app-pokemon-info [pokemon]="enemyPokemon" [isEnemyAttacking]="isEnemyAttacking"></app-pokemon-info>
  <app-pokemon-info [isYourPokemon]="true" [pokemon]="allyPokemon" [isAllyAttacking]="isAllyAttacking"></app-pokemon-info>


  <app-battle-menu [myMoves]="allyPokemon.selectedMoves" (attackEvent)="computeMove($event)" ></app-battle-menu>
  <app-scoring></app-scoring>
  @if(showModal){
    <app-battle-result-modal [result]="result" (resetBattle)="resetBattle()"></app-battle-result-modal>
  }
</main>
