.scoring-container {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.scoring-title {
  font-size: 24px;
  padding: 10px;
  background-color: rgb(0, 0, 128 );
  color: white;
  border-radius: 10px 10px 0 0;
}
.scoring-table {
  width: 100%;
  border-collapse: collapse;
}
.scoring-table th,
.scoring-table td {
  padding: 10px;
  border: 1px solid #ddd;
}
.scoring-table th {
  background-color: #f2f2f2;
}
.scoring-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.scoring-table tr:hover {
  background-color: #f1f1f1;
}
